/* @import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700");
@import url("https://fonts.googleapis.com/css?family=Roboto:400,300,500,700"); */

/* ______________ Heading Candidates ______________ */

@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap');
/* font-family: 'Amatic SC', cursive; */

@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
/* font-family: 'Pacifico', cursive; */

/* ______________ Body Candidates ______________ */

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
/* font-family: 'Lato', sans-serif; */

@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
/* font-family: 'Merriweather', serif; */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');
/* font-family: 'Open Sans', sans-serif; */

html, body, div#__next {
	padding: 0;
	height: 100%;
	margin: 0;
	font-family: 'Lato', sans-serif;
	font-size: 16px;
	color: #676a6c;
	background-color: #fff1fe;
	overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Pacifico', cursive;
}

h2{
	font-size: 2rem;
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}